*{
    margin: 0%;
    top: 0%;
}
body{
    background-color: #69504b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;

}
p{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(151, 240, 240);
}
#btn{
    margin-top: 5rem;
    width: 25rem;
    height: 4rem;
    background-image:  linear-gradient(rgba(87, 87, 126, 0.5), rgba(204, 204, 144, 0.5));
    font-size: 3rem;
    color: rgb(6, 113, 117);
}